* {
    font-family: 'Shantell Sans', cursive;
}

.bg-navbar {
    background-color: rgb(156, 147, 12);
}

.logo {
    width: 40px;
}

.dropdown-item:hover {
    background-color: rgb(13, 112, 13);
    border-radius: 8px;
}

.btn1, .btn2 {
    background-color: rgb(13, 112, 13);
    color: white;
    border-color: rgb(13, 112, 13);
    border-radius: 10px;
    transition: 0.8s;
}

.btn1:hover, .btn2:hover {
    background-color: rgb(228, 216, 50);
    color: white;
}

/* Sezione principale */

.img {
    width: 400px;
}

.principal {
    background-color: rgb(13, 112, 13);
    color: rgb(156, 147, 12);
}

.btn3 {
    background-color: rgb(156, 147, 12);
    color: white;
    transition: 0.8s;
}

.btn3:hover {
    background-color: rgb(253, 255, 253);
    color: black;
}